.footer {
  background-color: #391965;
  padding: 20px 0px 0px;
  position: absolute;
  /* bottom: 0; */
  right: 0;
  left: 0;
}
.footer input {
  padding: 0;
}
.footer .inputgrid > div > div {
  padding-right: 0;
  border-radius: 0;
  padding-left: 10px;
}
.footer .inputgrid > div > div:hover {
  border: none;
}
.footer .inputgrid > div > div button {
  padding: 5px 40px;
}
.footer .inputgrid > div > div button:hover {
  background-color: #9c2486;
}
