DATABASE_URL="mongodb+srv://sandiproyvirtualemployee:hJ06iYBqDzN8M6c5@cluster0.1mzibpo.mongodb.net/saintaAuthDB?retryWrites=true&w=majority"
TWILIO_ACCOUNT_SID='ACbc5193a66473b8f4e5c36c5ff818f88b'
TWILIO_AUTH_TOKEN='4fe1bd1965c7e0df742ef8c5ffeaa8a5'
TWILIO_PHONE_NO='+12408521812'
COUNTRY_CODE='+91'
DATABASE_USER=s'sandiproyvirtualemployee'
DATABASE_PASSWORD='hJ06iYBqDzN8M6c5'
APP_EMAIL='claymindsolutions10@gmail.com'
APP_EMAIL_PASS='pdasogxhgxydkuvc'
APP_ENV='DEV'
PORT=4000